{% extends "layout.html" %}

{% block title %}
    login page
{% endblock %}

{% block content %}

  <div class="flex justify-center items-center flex-col text-black border-inherit h-screen">
    <div class="w-[684px] py-6 bg-slate-100 shadow-inherit rounded-md">
        <div class="list grid grid-cols-5 gap-2 px-2">
            <h2 class="text-2xl">{{user.username}}</h2>
            <h1 class="grid col-span-3 text-center text-2xl">To-Do List</h1> 
            <div class="logout">
                <form action="{%url 'logout'%}" method="post">
                    {%csrf_token%}
                     <button type="submit" class="text-xl"><i class="fa-solid fa-right-from-bracket"></i></button>
                </form>
            </div>
        </div>
        <div class="add-task my-5">
            <form method="post">
                {%csrf_token%}
                <div class="io flex justify-center">
                    <input type="text" name="task" id="" class="rounded-md w-3/4" placeholder="Add Your Task">
                    <button type="submit" class="mx-3 text-2xl"><i class="fa-solid fa-plus"></i></button>
                </div>
            </form>
            <div class="px-14 my-5 ">
                {% for task in tasks %}
                <div class="w-11/12">
                    <div class="flex justify-between items-center task rounded-md  mb-3 bg-slate-800 text-slate-100 w-auto h-9 p-2 ">
                        <h3># {{task.tasks}}</h3>
                        <div>
                            <a href="{% url 'update' task.id %}" class="px-2"><i class="fa-solid fa-pen "></i></a>

                            
                            <a href="{%url 'delete' task.id %}"><i class="fa-solid fa-trash text-rose-500"></i></a>
                            
                            
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>

        </div>
    </div> 
  </div>
    
{% endblock %}