{% extends "layout.html" %}

{% block title %}
    login page
{% endblock %}

{% block content %}

  <div class="flex justify-center items-center flex-col text-black border-inherit h-screen">
    <div class="w-[384px] py-6 bg-slate-100 shadow-inherit rounded-md">
        <div class="flex justify-center items-center flex-col">
            <span class="text-5xl font-semibold"><i class="fa-solid fa-user"></i></span>
            <h1 class="m-auto text-3xl font-semibold">Login</h1>
        </div>

        <form method="post">
            {%csrf_token%}
            <div class="login-box py-4 flex justify-center items-center flex-col">
                <div class="usrname my-2">
                    <label for="" class="text-xl">Username: </label>
                    <input type="text" class="rounded-md px-2 py-1" name="username" id="" >
                </div>
                <div class="pasrd my-2">
                    <label for="" class="text-xl">Password: </label>
                    <input type="password" class="rounded-md px-2 py-1" name="password" id="">
                </div>
            </div>
            <div class="mt-3" style="text-align:center;">
                <button class="bg-slate-800 text-slate-100 py-1 rounded-md" style="width: 80%;"  type="submit">Login</button>
            </div>
        </form>
        <div class="mt-3" style="text-align:center;">
            <p>If you Not Registerd.<a class="text-red-500" href={%url 'register'%}> Register Now </a></p>
        </div>
        
    </div>
    

    
  </div>
    
{% endblock %}